svg {
    stroke: none;
    width: 500px;
    height: 500px;
}
 
#logo-center {
    position: absolute;
    top: 600px;
    left: 600px;
}
 
#logo-top-left {
    position: absolute;
    top: 550px;
    left: 522px;
}
 
#logo-top-right {
    position: absolute;
    top: 550px;
    left: 758px;
}
 
#logo-bottom {
    position: absolute;
    top: 874px;
    left: 598px;
}